.header {
  box-shadow: var(--primary-box-shadow-opacity-12) 0px 1px 1px;
  height: var(--default-layout-header-height, 60px);
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.header-wrapper {
  --search-border-radius: 92px;
  --search-height: 46px;
  --search-top-spacer: 9px;
  --search-btn-width: 52px;

  width: var(--default-layout-container-width, 100%);
  max-width: 100%;
  padding: 0 var(--default-layout-horizontal-spacer);
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

// Logo
.logo-box {
  display: flex;
  align-items: center;
}

// Actions
.actions-box {
  display: flex;
  height: 100%;
  align-items: center;
}

.more-action-btn {
  margin-left: 12px;
  padding: 0px 4px;
  cursor: pointer;
  display: flex;
  align-items: center;
}

.action-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--text-color);
  background-color: transparent;
  cursor: pointer;
  margin-left: 16px;
  position: relative;
}

.upload-btn {
  margin-right: 16px;
}

.badge {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 20px;
  height: 20px;
  background-color: var(--primary-color);
  color: var(--white);
  font-weight: 600;
  font-size: 1.4rem;
  border-radius: 50%;
  top: -20%;
  left: 16px;
}

.user-avatar {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  object-fit: cover;
  margin-left: 16px;
  cursor: pointer;
}
