.wrapper {
  margin-bottom: 8px;
}

.menu-item {
  display: flex;
  align-items: center;
  font-size: 1.8rem;
  font-weight: 700;
  padding: 8px;
  border-radius: 4px;
  background-color: transparent;
  transition: background-color 200ms ease-in-out 0s;
  user-select: none;

  &.active {
    color: var(--primary-color);
  }

  &:hover {
    background-color: var(--primary-text-color-opacity-3);
  }

  .title {
    margin-left: 8px;
  }
}
