.menu-list {
  min-width: 223px;

  .menu-item {
    margin-left: 0;
  }
}

.menu-popper {
  padding-bottom: 8px;
}

.menu-item {
  justify-content: flex-start;
  border-radius: 0;
  font-weight: 600;
  color: var(--text-color);
  line-height: 1.8rem;
  padding: 11px 16px;

  &:hover {
    background-color: var(--text-search-color-opacity-3);
  }

  &.separate {
    border-top: 1px solid var(--text-search-color-opacity-12);
  }
}

.header {
  margin-top: -8px;
  display: flex;
  height: 50px;
  position: relative;
}

.back-btn {
  width: 50px;
  height: 100%;
  background-color: transparent;
  cursor: pointer;
}

.header-title {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
