.wrapper {
  user-select: none;
  padding: 8px;
}

.action-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  color: inherit;
  background-color: transparent;
  cursor: pointer;
  position: relative;
}
