@font-face {
  font-family: TikTokFont;
  src: url("/assets/fonts/TikTokFont-Regular.woff2");
  font-weight: 400;
}

@font-face {
  font-family: TikTokFont;
  src: url("/assets/fonts/TikTokFont-Semibold.woff2");
  font-weight: 600;
}

@font-face {
  font-family: TikTokFont;
  src: url("/assets/fonts/TikTokFont-Bold.woff2");
  font-weight: 700;
}

@font-face {
  font-family: TikTokDisplayFont;
  src: url("/assets/fonts/TikTokDisplayFont-Semibold.woff2");
  font-weight: 600;
}

@font-face {
  font-family: TikTokDisplayFont;
  src: url("/assets/fonts/TikTokDisplayFont-Bold.woff2");
  font-weight: 700;
}
