@import "normalize.css";
@import "./Variables.scss";
@import "./Fonts.scss";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  *:focus-visible {
    outline: 2px solid var(--primary-color);
  }
}

html {
  font-size: 62.5%;
}

body {
  font-family: var(--primary-font);
  font-size: 1.6rem;
  line-height: 1.5;
  text-rendering: optimizeSpeed;
  color: var(--primary-text-color);
}

button,
input {
  outline: none;
  border: none;
  background-color: transparent;
  font-family: var(--primary-font);
  line-height: normal;
}

a {
  color: var(--text-color);
  text-decoration: none;
  font-family: var(--primary-font);
  max-width: 100%;

  &:focus-visible {
  }
}

img {
  user-select: none;
}

ul {
  list-style-type: none;
}

// Custom Tippy Tooltip
body {
  --tippy-bg: rgba(84, 84, 84, 0.92);
  --tippy-border-radius: 8px;
  --tippy-arrow-bg: rgba(84, 84, 84, 0.92);
  --tippy-text-color: var(--white);
  --tippy-text-font-size: 1.6rem;
  --tippy-text-line-height: 2.2rem;
  --tippy-content-padding: 8px;

  .tippy-box {
    cursor: auto;
    background-color: var(--tippy-bg);
    border-radius: var(--tippy-border-radius);
    font-weight: 600;
    font-size: var(--tippy-text-font-size);
    line-height: var(--tippy-text-line-height);
    color: var(--tippy-text-color);
    z-index: 9;
  }

  .tippy-content {
    padding: var(--tippy-content-padding);
  }

  .tippy-arrow {
    color: var(--tippy-arrow-bg);
  }

  .tippy-box[data-placement^="bottom"] > .tippy-arrow:before {
    top: -8px;
  }
}

// Scrollbar
html *::-webkit-scrollbar {
  border-radius: 0;
  width: 8px;
}

html *::-webkit-scrollbar-thumb {
  border-radius: 4px;
  background-color: rgba(0, 0, 0, 0.08);
}

html *::-webkit-scrollbar-track {
  border-radius: 0;
  background-color: rgba(0, 0, 0, 0);
}
