.wrapper {
  flex: 1;
  width: 100%;
  height: 100%;
  padding: 7px 12px;

  &:hover .video-control-current,
  &:hover .video-control-progress {
    height: 4px;
  }

  &:hover .video-control-circle {
    display: block;
  }
}

.video-control-container {
  position: relative;
  width: 100%;
}

.video-control-current {
  width: 0%;
  position: relative;
  height: 2px;
  background-color: var(--white);
  cursor: pointer;
}

.video-control-progress {
  width: 100%;
  height: 2px;
  background-color: var(--white-opacity-34);
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  cursor: pointer;
}

.video-control-circle {
  display: none;
  user-select: none;
  width: 12px;
  height: 12px;
  background-color: var(--white);
  border-radius: 50%;
  z-index: 1;
  cursor: pointer;
  position: absolute;
  top: 50%;
  right: -6px;
  transform: translateY(-50%);
}
