.search-box {
  position: relative;
  background-color: var(--text-search-color-opacity-6);
  height: var(--search-height);
  width: 516px;
  min-width: 200px;
  padding-left: 16px;
  display: flex;
  border-radius: var(--search-border-radius);
  align-items: center;
  border: 1px solid var(--text-search-color-opacity-6);

  &:hover {
    border: 1px solid var(--text-search-color-opacity-20);
  }

  &:hover .search-btn {
    background-color: var(--text-search-color-opacity-6);
    color: var(--text-search-color-opacity-75);
  }

  &::after {
    content: "";
    width: 1px;
    height: calc(var(--search-height) - var(--search-top-spacer) * 2);
    position: absolute;
    background-color: var(--text-search-color-opacity-12);
    top: var(--search-top-spacer);
    right: var(--search-btn-width);
  }

  &:focus-within {
    border-color: var(--text-search-color-opacity-20);
  }

  input {
    flex: 1;
    color: var(--text-search-color-opacity-75);
    font-size: 1.6rem;
    height: 100%;
    background-color: transparent;
    caret-color: var(--primary-color);
  }

  input:not(:placeholder-shown) ~ .search-btn {
    color: var(--text-search-color);
  }
}

.search-btn,
.search-result-box {
  width: 516px;
}

.search-title {
  font-weight: 600;
  color: var(--text-search-color-opacity-50);
  font-size: 1.4rem;
  padding: 5px 12px;
}

.search-btn {
  position: relative;
  font-size: 1.8rem;
  font-weight: 400;
  border-top-right-radius: var(--search-border-radius);
  border-bottom-right-radius: var(--search-border-radius);
  width: var(--search-btn-width);
  height: 100%;
  color: var(--text-search-color-opacity-34);
}

.clear-btn,
.loading-icon {
  position: absolute;
  right: calc(var(--search-btn-width) + 16px);
  top: 50%;
  font-size: 1.6rem;
  transform: translateY(-50%);
  color: var(--text-search-color-opacity-34);
}

.loading-icon {
  animation: spinner 0.8s linear infinite;
}

@keyframes spinner {
  from {
    transform: translateY(-50%) rotate(0);
  }
  to {
    transform: translateY(-50%) rotate(360deg);
  }
}

.clear-btn,
.search-btn {
  cursor: pointer;
}
