.wrapper {
  position: relative;
}

.wrapper:hover .audio-control-top {
  display: flex;
}

.audio-control-top {
  display: none;
  align-items: center;
  justify-content: center;
  width: calc(100% - 16px);
  height: 64px;
  margin: 8px 7px 0;
  background-color: var(--primary-text-color-opacity-34);
  border-radius: 32px;
  position: absolute;
  bottom: 100%;
  left: 0;
  cursor: auto;
  user-select: none;
}

.audio-control-top.dragging {
  display: flex;
}

.volume-control-container {
  height: 48px;
  width: 2px;
  border-radius: 4px;
  position: relative;
  display: flex;
  align-items: end;
}

.volume-control-current {
  position: relative;
  border-radius: inherit;
  width: 100%;
  height: 100%;
  padding-bottom: 12px;
  background-color: var(--white);
  cursor: pointer;
}

.volume-control-circle {
  position: absolute;
  width: 12px;
  height: 12px;
  background-color: var(--white);
  border-radius: 50%;
  z-index: 1;
  cursor: pointer;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  user-select: none;
}

.volume-control-progress {
  width: 100%;
  height: 100%;
  border-radius: inherit;
  background-color: var(--white-opacity-34);
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  cursor: pointer;
}

.icon-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}
