.search-box {
  display: flex;
  align-items: center;
  padding: 0 8px;
  min-width: 200px;
  max-height: 46px;
}

.search-form {
  display: flex;
  align-items: center;
  position: relative;
  width: 100%;
  padding: 12px 16px;
  background-color: var(--primary-text-color-opacity-6);
  border: 1px solid transparent;
  border-radius: var(--search-border-radius);
  width: 500px;

  &:hover {
    border: 1px solid var(--primary-text-color-opacity-20);
  }

  &:hover .search-btn {
    background-color: var(--primary-text-color-opacity-6);
    color: var(--primary-text-color-opacity-75);
  }
}

.search-input {
  flex: 1;
  color: var(--primary-text-color);
  font-size: 1.6rem;
  height: 21px;
  background-color: transparent;
  caret-color: var(--primary-color);

  &:focus {
    outline: none;
  }

  &:focus ~ .outline {
    display: block;
  }

  &:focus ~ .search-input {
    background-color: var(--primary-text-color-opacity-6);
  }

  &:not(:placeholder-shown) ~ .search-btn {
    color: var(--primary-text-color);
  }
}

.outline {
  display: none;
  position: absolute;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  border: 1px solid var(--primary-text-color-opacity-20);
  border-radius: var(--search-border-radius);
  z-index: -1;
}

.outline.tabbed {
  display: block;
  border-width: 2px;
  border-color: var(--primary-color);
}

.icons-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.separate {
  width: 1px;
  height: 28px;
  margin: -3px 0;
  background-color: var(--primary-text-color-opacity-12);
}

.search-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  padding: 11px 16px 11px 12px;
  margin: -12px -16px -12px 0px;
  font-weight: 400;
  border-top-right-radius: var(--search-border-radius);
  border-bottom-right-radius: var(--search-border-radius);
  color: var(--primary-text-color-opacity-34);

  &:focus {
    outline: none;
  }
}

.clear-btn,
.search-btn {
  cursor: pointer;
}

.clear-btn,
.loading-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 16px;
  font-size: 1.6rem;
  color: var(--primary-text-color-opacity-34);

  &:focus {
    outline: none;
  }
}

.loading-icon {
  animation: spinner 0.8s linear infinite;
}

.account-item {
  .info-box {
    max-width: 200px;
    color: red;
  }
}

@keyframes spinner {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(360deg);
  }
}

.search-result-box {
  width: 500px;
}

.search-title {
  font-weight: 600;
  color: var(--primary-text-color-opacity-50);
  font-size: 1.4rem;
  padding: 5px 12px;
}
