.header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 99;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: var(--default-layout-header-height);
  background-color: var(--white);
  box-shadow: var(--primary-box-shadow-opacity-12) 0px 1px 1px;
}

.header-wrapper {
  --search-border-radius: 92px;
  width: var(--default-layout-container-width);
  max-width: 100%;
  padding: 0 var(--default-layout-horizontal-spacer);
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

// Logo
.logo-container {
  min-width: 300px;
  display: flex;
  align-items: center;

  .logo-link {
    display: flex;
    align-items: center;
  }
}

.badge {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 20px;
  height: 20px;
  background-color: var(--primary-color);
  color: var(--white);
  font-weight: 600;
  font-size: 1.4rem;
  border-radius: 50%;
  top: -20%;
  left: 16px;
}

// Actions
.header-right-container {
  display: flex;
  gap: 16px;
  height: 100%;
  align-items: center;
}

.more-action-btn {
  margin-left: 12px;
  padding: 0px 4px;
  cursor: pointer;
  display: flex;
  align-items: center;
}

.upload-btn {
  margin-right: 16px;
}

.user-avatar {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  object-fit: cover;
  margin-left: 8px;
  cursor: pointer;
}

.message-icon-wrapper,
.inbox-icon-wrapper {
  padding: 0px;
  height: auto;
}

.message-icon-wrapper {
  height: 32px;
  width: 32px;
}
