.container {
  width: var(--default-layout-sidebar-width);
  padding-right: 8px;
  position: fixed;
  top: 60px;
  left: 0;
  bottom: 0;
  overflow: hidden auto;
  overscroll-behavior-y: contain;

  &::-webkit-scrollbar {
    opacity: 0;
    width: 6px;
  }

  &:hover &::-webkit-scrollbar {
    opacity: 1;
  }
}

.wrapper {
  padding: 20px 0px 26px 8px;
}

.smallIcon {
  padding: 4px;
}

.avatar-img {
  width: 32px;
  height: 32px;
  padding: 4px;
  border-radius: 50%;
}

.link-item {
  margin-top: 15px;
  margin-bottom: 8px;
  color: var(--primary-text-color-opacity-50);

  .title {
    font-size: 1.5rem;
    font-weight: 700;
    font-family: var(--secondary-font);
  }
}

.link-item .link {
  font-weight: 600;
  font-size: 1.2rem;
  display: inline-block;
  margin-right: 6px;
  margin-top: 5px;

  &:hover {
    text-decoration: underline;
  }
}

.copyright {
  font-weight: 600;
  font-size: 1.2rem;
  display: inline-block;
  margin-right: 6px;
  margin-top: 5px;
  color: var(--primary-text-color-opacity-50);
}

// Footer
.footer-wrapper {
  position: relative;
  padding-top: 16px;
  padding-left: 8px;
}

.footer-wrapper::before {
  content: "";
  top: 0;
  left: 8px;
  right: 8px;
  position: absolute;
  height: 1px;
  background-color: var(--primary-text-color-opacity-12);
}

.effecthouse-btn {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 8px;
}

.effecthouse-img {
  width: 100%;
  object-fit: cover;
}

.effecthouse-title {
  position: absolute;
  left: 50px;
  font-size: 1.3rem;
  font-weight: 700;
  color: rgb(255, 245, 201);
  text-align: start;
  width: 141px;
}
