.wrapper {
  align-self: end;
}

.image-box {
  display: flex;
  align-items: center;
  justify-content: center;
}

.action-item {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.icon-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 48px;
  height: 48px;
  margin: 8px 0 6px;
  cursor: pointer;
  border-radius: 50%;
  background: var(--primary-text-color-opacity-6);
}

.avatar {
  width: 48px;
  height: 48px;
  border-radius: 50%;
}

.user-wrapper {
  position: relative;
  margin-bottom: 20px;
}

.follow-btn {
  width: 24px;
  height: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5px;
  background-color: rgb(254, 44, 85);
  color: var(--white);
  border: 1px solid var(--primary-color);
  border-radius: 50%;
  cursor: pointer;
  position: absolute;
  bottom: -12px;
  left: 50%;
  transform: translateX(-50%);

  &:hover {
    background-color: rgb(234, 40, 78);
  }
}

.follow-btn.active {
  color: var(--primary-color);
  background: var(--white);
  border: 1px solid var(--primary-text-color-opacity-20);
}

.strong-text {
  font-size: 1.4rem;
  font-weight: 700;
  color: var(--primary-text-color-opacity-75);
}

.heart-icon.active {
  color: rgb(254, 44, 85);
}

.bookmark-icon.active {
  color: rgb(250, 206, 21);
}

.profile-container {
  width: 320px;
  padding: 20px;
  background-color: var(--white);
  box-shadow: var(--black-opacity-12) 0px 4px 16px;
  border-radius: 8px;

  .header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 12px;
  }
}

.profile-image .avatar {
  width: 44px;
  height: 44px;
}

.title-wrapper,
.title-link {
  display: flex;
  align-items: center;
}

.nickname {
  font-weight: 700;
  font-size: 1.8rem;
}

.username {
  font-weight: 600;
  font-size: 1.4rem;
}

.user-stat {
  margin-top: 8px;
  display: flex;
  align-items: center;

  .text {
    font-size: 1.7rem;
    font-weight: 700;
    margin-right: 6px;
  }

  .desc {
    font-size: 1.7rem;
    color: var(--primary-text-color-opacity-75);
  }

  .desc:not(:last-child) {
    margin-right: 12px;
  }
}

.bio-text {
  margin-top: 16px;
  padding-top: 16px;
  border-top: 1px solid var(--primary-text-color-opacity-12);
  font-size: 1.4rem;
}

.share-menu {
  --menu-popper-padding: 0 4px 0 0;
  --menu-body-padding: 8px 0;
  --menu-popper-max-height: 448px;
  --button-icon-title-spacer: 12px;
  --item-popper-margin: 0 3px 0 4px;
  --item-popper-font-size: 1.6rem;
  --item-popper-line-height: 21px;
  --item-popper-padding: 11px 16px;
  --item-popper-max-width: 273px;

  background-color: var(--white);
  border-radius: 8px;
  min-width: 284px;
}
